/* BODY ------------------------------------------------------------ */

::ng-deep .mat-form-field {
    margin: 0px 0px 0px 24px !important;
    float: left !important;
}

::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em !important;
}

::ng-deep .mat-form-field {
    width: 550px !important;
    padding: 0px 0px 0px 0px !important;
    font-family: "Overpass Mono", monospace !important;
}

::ng-deep .mat-chip-list {
    padding: 12px 0px 0px 24px !important;
}

::ng-deep .mat-chip, a {
    font-family: "Overpass Mono", monospace !important;
    font-size: 12px !important;
    font-weight: 700 !important;
}

::ng-deep .mat-standard-chip {
    transition: all 0.5s ease !important;
    height: unset !important;
}

::ng-deep .mat-divider {
    margin: 12px 0px !important;
    padding: 0px !important;
}

::ng-deep .mat-toolbar, .mat-button {
    font-family: "Overpass Mono", monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    transition: all 0.2s ease !important;
    background-color: transparent !important;
}

::ng-deep .mat-icon-button {
    display: inline-block !important;
}

::ng-deep .mat-icon {
    transform: scale(0.60) !important;
}

::ng-deep .mat-card-image {
    vertical-align: middle !important;
}

::ng-deep .mat-drawer-container {
    height: 100% !important;
}

/* MAIN ------------------------------------------------------------ */

.main {
    display: flex;
    width: fit-content;
    margin: 0px auto;
    padding: 144px 20px 20px 20px;
}

/* SETTINGS -------------------------------------------------------- */

.settings>* {
    /* side-by-side: inline-grid */
    display: grid;
    padding: 0px 0px 24px 0px;
}

/* INFOBAR --------------------------------------------------------- */

.infobar {
    margin-left: 0.75em;
    padding: 8px 0px 0px 24px;
    font-family: "Overpass Mono", monospace !important;
}

.infobar.grayScaleLabel {
    margin-left: 0.75em;
    padding: 24px 0px 0px 24px;
}

.infobar * {
    font-size: 75%;
    color: rgba(255, 255, 255, .6);
}

/* LAYERS ---------------------------------------------------------- */

.input {
    padding-right: 12px;
}

.input .layer {
    position: relative;
    display: grid;
    margin: 0 auto;
    /* calculation: square width + back padding */
    width: 112px;
    height: 112px;
}

.input .layer * {
    height: 96px;
    width: 96px;
    border-radius: 8px;
    /* transform: rotate(45deg) skew(-10deg, -10deg); */
    position: absolute;
}

/* NAVIGATION ------------------------------------------------------ */

.navIcon * {
    padding-left: 16px;
    filter: grayscale(100%);
}

.navHamburger {
    display: none;
}

.navItem {
    display: unset;
}

/* FORE ------------------------------------------------------------ */

.fore {
    margin: 16px 0px 0px 16px;
    /* background-color: rgba(255, 255, 255, 0.7); */
}

/* SPACER ---------------------------------------------------------- */

.spacer {
    flex: 1 1 auto;
}

/* VALUE CHECK ----------------------------------------------------- */

.isForeColorNotSet, .isBackColorNotSet, .isColorSet {
    transition: all 0.5s ease;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.isForeColorNotSet {
    background: repeating-linear-gradient( -45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 5px, rgba(255, 255, 255, 0.30) 5px, rgba(255, 255, 255, 0.30) 10px);
    /* background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0.75) 10 F0%) */
}

.isBackColorNotSet {
    background: repeating-linear-gradient( +45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 5px, rgba(255, 255, 255, 0.30) 5px, rgba(255, 255, 255, 0.30) 10px);
}

.isColorSet {
    background: transparent;
}

/* COLOR PATCH ----------------------------------------------------- */

/* toolbar */

::ng-deep .mat-toolbar {
    background-color: black !important;
    color: rgba(255, 255, 255, 0.60) !important;
}

/* chevron */

::ng-deep .mat-tab-header-pagination {
    background-color: rgba(255, 255, 255, 0.15) !important;
}

::ng-deep .mat-tab-header-pagination-chevron {
    border-color: #00bf7e !important;
}

/* selected */

::ng-deep .mat-chip {
    background-color: rgba(255, 255, 255, 0.00) !important;
    color: #00bf7e !important;
}

::ng-deep .info .mat-chip {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: #00bf7e !important;
}

::ng-deep .info.grayScaleChip .mat-chip {
    background-color: rgba(255, 255, 255, 0.10) !important;
    color: rgba(255, 255, 255, 0.40) !important;
}

/* input */

::ng-deep .mat-form-field-outline {
    color: rgba(255, 255, 255, 0.15) !important;
}

::ng-deep .mat-form-field-label, .infobar * {
    color: rgba(255, 255, 255, 0.60) !important;
}

::ng-deep ::placeholder {
    color: rgba(255, 255, 255, 0.30) !important;
}

::ng-deep .mat-divider {
    border-top-color: rgba(255, 255, 255, 0.10) !important;
}

/* button */

::ng-deep .mat-button[disabled][disabled] {
    color: rgba(255, 255, 255, 0.30) !important;
}

/* navbar sub-items */

::ng-deep .navbar .navLogo a, .navbar .navLogo .mat-button, .navbar .navHamburger a, .navbar .navHamburger .mat-button {
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 0.60);
}

::ng-deep .navbar .navLogo a:hover, .navbar .navLogo .mat-buttonhover {
    text-decoration: none !important;
    color: #00bf7e !important
}

::ng-deep .navbar .navClose a, .navbar .navClose .mat-button {
    color: rgba(255, 255, 255);
}

/* navbar */

::ng-deep .navbar a:link, .mat-toolbar a:visited, .navbar .mat-button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
}

::ng-deep .navbar a:hover, .navbar .mat-button:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.80);
}

::ng-deep .navbar a:active, .navbar .mat-button:active {
    text-decoration: underline;
    color: #00bf7e;
}

::ng-deep .navbar a[disabled][disabled], .navbar .mat-button[disabled][disabled] {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.30);
}

/* drawer */

::ng-deep .mat-drawer {
    background-color: rgba(255, 255, 255, 0.10) !important;
}

::ng-deep .mat-drawer-side {
    border-right: solid 1px rgba(255, 255, 255, 0.05) !important;
}

::ng-deep .mat-drawer-container {
    background-color: transparent !important;
}

::ng-deep .mat-drawer-inner-container {
    background-color: rgb(16, 16, 16, 0.80) !important;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.80) !important;
}

/* RESPONSIVE ----------------------------------------------------- */

@media only screen and (max-width: 1600px) {
    .navItem {
        display: none;
    }
    .navHamburger {
        display: unset;
    }
}

@media only screen and (max-width: 800px) {
    .main {
        display: block;
        padding: 20px;
    }
    .input {
        padding: 24px 0px 48px 0px;
    }
    .infobar {
        padding: 8px 0px 0px 0px;
    }
    .infobar.grayScaleLabel {
        margin-left: 0.75em;
        padding: 24px 0px 0px 0px;
    }
    ::ng-deep .mat-form-field {
        margin: 0px !important;
    }
    ::ng-deep .mat-chip-list {
        padding: 12px 0px 0px 0px !important;
    }
}

@media only screen and (max-width: 600px) {
    ::ng-deep .mat-form-field, .mat-chip-list {
        width: 300px !important;
    }
}