<mat-toolbar color="accent">
    <span>ALPHA COLOR CONVERTER</span>
    <span><a href="-">Unit Batch for CSS</a></span>
    <span class="spacer"></span>
    <span><a href="https://www.buymeacoffee.com/vberkaltun">Wanna support me? (buy-me-a-coffee)</a></span>
    <span><a href="-">Share</a></span>
    <span><a href="https://vberkaltun.com/">Contact</a></span>
</mat-toolbar>
  
<div class="main" matRipple matRippleCentered="Centered" matRippleDisabled="disabled" matRippleColor="rgba(0, 0, 0, 0.50)">
    <div class="container">
        <div class="input">
            <div class="layer">
                <div class="back shadow" [ngStyle]="colorBack.isColorSet ? { 'background' : colorBack.gui } : null" [ngClass]="colorBack.isColorSet ? 'isColorSet' : 'isBackColorNotSet'"></div>
                <div class="fore shadow" [ngStyle]="colorFore.isColorSet ? ( colorAlpha.isColorSet ? { background : 'linear-gradient(45deg,' + colorFore.rgb + ' 0%, ' + colorAlpha.rgbWithAlpha + ' 100%)' } : { 'background' : colorFore.gui } ) : null" [ngClass]="colorFore.isColorSet ? 'isColorSet' : 'isForeColorNotSet'"></div>
            </div>
        </div>

        <div class="settings">
            <div>
                <mat-form-field color="accent" appearance="outline" floatLabel="always" autocomplete="off">
                    <mat-label>Background Color</mat-label>
                    <input matInput (input)="onBackValueChange($event.target.value)" placeholder="approved RGB, HEX or HSL format" type="text" [(ngModel)]="inputBack">
                    <button mat-button matSuffix mat-icon-button aria-label="Paste" (click)="onPaste(0)"><mat-icon>select_all</mat-icon></button>
                    <button mat-button [disabled]="!inputBack" matSuffix mat-icon-button aria-label="Clear" (click)="onClear(0)"><mat-icon>close</mat-icon></button>
                </mat-form-field>
                <mat-chip-list [disabled]="!colorBack.isColorSet">
                    <mat-chip (click)="colorBack.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorBack.hex" matTooltip="{{ colorBack.isColorSet ? 'Copy HEX value to clipboard' : null }}">{{ colorBack.hex }}</mat-chip>
                    <mat-chip (click)="colorBack.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorBack.rgb" matTooltip="{{ colorBack.isColorSet ? 'Copy RGB value to clipboard' : null }}">{{ colorBack.rgb }}</mat-chip>
                    <mat-chip (click)="colorBack.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorBack.hsl" matTooltip="{{ colorBack.isColorSet ? 'Copy HSL value to clipboard' : null }}">{{ colorBack.hsl }}</mat-chip>
                </mat-chip-list>
            </div>
            <div>
                <mat-form-field color="accent" appearance="outline" floatLabel="always" autocomplete="off">
                    <mat-label>Foreground Color</mat-label>
                    <input matInput (input)="onForeValueChange($event.target.value)" placeholder="approved RGB, HEX or HSL format" type="text" [(ngModel)]="inputFore">
                    <button mat-button matSuffix mat-icon-button aria-label="Paste" (click)="onPaste(1)"><mat-icon>select_all</mat-icon></button>
                    <button mat-button [disabled]="!inputFore" matSuffix mat-icon-button aria-label="Clear" (click)="onClear(1)"><mat-icon>close</mat-icon></button>
                </mat-form-field>
                <mat-chip-list [disabled]="!colorFore.isColorSet">
                    <mat-chip (click)="colorFore.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorFore.hex" matTooltip="{{ colorFore.isColorSet ? 'Copy HEX value to clipboard' : null }}">{{ colorFore.hex }}</mat-chip>
                    <mat-chip (click)="colorFore.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorFore.rgb" matTooltip="{{ colorFore.isColorSet ? 'Copy RGB value to clipboard' : null }}">{{ colorFore.rgb }}</mat-chip>
                    <mat-chip (click)="colorFore.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorFore.hsl" matTooltip="{{ colorFore.isColorSet ? 'Copy HSL value to clipboard' : null }}">{{ colorFore.hsl }}</mat-chip>
                </mat-chip-list>
            </div>

            <div>
                <div class="infobar">
                    <mat-label>Alpha Applied Color</mat-label>
                </div>
                <mat-chip-list class="info" *ngIf="colorAlpha.isColorSet">
                    <mat-chip color="accent" selected (click)="openSnackBar()" [cdkCopyToClipboard]="colorAlpha.hexWithAlpha" matTooltip="Copy HEX value to clipboard">{{ colorAlpha.hexWithAlpha }}</mat-chip>
                    <mat-chip color="accent" selected (click)="openSnackBar()" [cdkCopyToClipboard]="colorAlpha.rgbWithAlpha" matTooltip="Copy RGB value to clipboard">{{ colorAlpha.rgbWithAlpha }}</mat-chip>
                    <mat-chip color="accent" selected (click)="openSnackBar()" [cdkCopyToClipboard]="colorAlpha.hslWithAlpha" matTooltip="Copy HSL value to clipboard">{{ colorAlpha.hslWithAlpha }}</mat-chip>
                </mat-chip-list>
                <mat-chip-list class="info" *ngIf="!colorAlpha.isColorSet">
                    <mat-chip color="accent" selected>An alpha color format can not apply to these color sets!</mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>
</div>