<div class="main">
    <div class="container">
        <div class="input">
            <div class="layer">
                <div class="back shadow" [style.background]="colorBack.isColorSet ? colorBack.gui : null" [ngClass]="colorBack.isColorSet ? 'isColorSet' : 'isBackColorNotSet'"></div>
                <div class="fore shadow" [style.background]="colorFore.isColorSet ? colorFore.gui : null" [ngClass]="colorFore.isColorSet ? 'isColorSet' : 'isForeColorNotSet'"></div>
            </div>
        </div>

        <div class="settings">
            <div>
                <mat-form-field color="accent" appearance="outline" floatLabel="always" autocomplete="off">
                    <mat-label>Background Color</mat-label>
                    <input matInput (input)="onBackValueChange($event.target.value)" placeholder="approved RGB, HEX or HSL format" value="255,0,0">
                </mat-form-field>
                <mat-chip-list [disabled]="!colorBack.isColorSet">
                    <mat-chip (click)="colorBack.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorBack.hex" matTooltip="{{ colorBack.isColorSet ? 'Copy HEX value to clipboard' : null }}">{{ colorBack.hex }}</mat-chip>
                    <mat-chip (click)="colorBack.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorBack.rgb" matTooltip="{{ colorBack.isColorSet ? 'Copy RGB value to clipboard' : null }}">{{ colorBack.rgb }}</mat-chip>
                    <mat-chip (click)="colorBack.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorBack.hsl" matTooltip="{{ colorBack.isColorSet ? 'Copy HSL value to clipboard' : null }}">{{ colorBack.hsl }}</mat-chip>
                </mat-chip-list>
            </div>
            <div>
                <mat-form-field color="accent" appearance="outline" floatLabel="always" autocomplete="off">
                    <mat-label>Foreground Color</mat-label>
                    <input matInput (input)="onForeValueChange($event.target.value)" placeholder="approved RGB, HEX or HSL format" value="255,128,128">
                </mat-form-field>
                <mat-chip-list [disabled]="!colorFore.isColorSet">
                    <mat-chip (click)="colorFore.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorFore.hex" matTooltip="{{ colorFore.isColorSet ? 'Copy HEX value to clipboard' : null }}">{{ colorFore.hex }}</mat-chip>
                    <mat-chip (click)="colorFore.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorFore.rgb" matTooltip="{{ colorFore.isColorSet ? 'Copy RGB value to clipboard' : null }}">{{ colorFore.rgb }}</mat-chip>
                    <mat-chip (click)="colorFore.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorFore.hsl" matTooltip="{{ colorFore.isColorSet ? 'Copy HSL value to clipboard' : null }}">{{ colorFore.hsl }}</mat-chip>
                </mat-chip-list>
            </div>
            <mat-divider></mat-divider>

            <div class="settings">
                <mat-chip-list [disabled]="!colorFore.isColorSet || !colorBack.isColorSet">
                    <mat-chip color="accent" selected (click)="colorFore.isColorSet ? openSnackBar() : null" [cdkCopyToClipboard]="colorFore.rgb" matTooltip="{{ colorFore.isColorSet ? 'Copy RGB value to clipboard' : null }}">{{ colorAlpha.rgbWithAlpha }}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>
</div>