/* BODY ------------------------------------------------------------ */

::ng-deep .mat-form-field {
    margin: 0px 0px 0px 24px !important;
    float: left !important;
}

::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em !important;
}

::ng-deep .mat-form-field {
    width: 550px !important;
    padding: 0px 0px 0px 0px !important;
    font-family: "Overpass Mono", monospace !important;
}

::ng-deep .mat-chip-list {
    padding: 12px 0px 0px 24px !important;
}

::ng-deep .mat-chip {
    font-family: "Overpass Mono", monospace !important;
    font-size: 12px !important;
    font-weight: 700 !important;
}

::ng-deep .mat-standard-chip {
    transition: all 0.5s ease !important;
}

::ng-deep .mat-divider {
    margin: 0px 0px 12px 24px !important;
    padding: 0px !important;
}

::ng-deep .mat-toolbar {
    font-family: "Overpass Mono", monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

::ng-deep .mat-toolbar>*:first-child {
    font-weight: 700 !important;
}

::ng-deep .mat-toolbar>*:not(:first-child) {
    padding-left: 24px !important;
    font-weight: 300 !important;
}

::ng-deep .mat-icon-button {
    display: inline-block !important;
}

::ng-deep .mat-icon {
    transform: scale(0.60);
}

/* MAIN & CONTAINER ------------------------------------------------ */

.main {
    width: fit-content;
    margin: 0px auto;
    padding: 120px 20px 20px 20px;
}

.container {
    display: flex;
    width: fit-content;
    padding: 24px 0px 0px 0px;
}

/* SETTINGS -------------------------------------------------------- */

.settings>* {
    /* side-by-side: inline-grid */
    display: grid;
    padding: 0px 0px 24px 0px;
}

/* INFOBAR --------------------------------------------------------- */

.infobar {
    margin-left: 0.75em;
    padding: 8px 0px 0px 24px;
}

.infobar.grayScaleLabel {
    margin-left: 0.75em;
    padding: 24px 0px 0px 24px;
}

.infobar * {
    font-size: 75%;
    color: rgba(255, 255, 255, .6);
}

/* LAYERS ---------------------------------------------------------- */

.input {
    padding-right: 12px;
}

.input .layer {
    position: relative;
    display: grid;
    margin: 0 auto;
    /* calculation: square width + back padding */
    width: 112px;
    height: 112px;
}

.input .layer * {
    height: 96px;
    width: 96px;
    border-radius: 8px;
    /* transform: rotate(45deg) skew(-10deg, -10deg); */
    position: absolute;
}

/* FORE ------------------------------------------------------------ */

.fore {
    margin: 16px 0px 0px 16px;
    /* background-color: rgba(255, 255, 255, 0.7); */
}

/* SPACER ---------------------------------------------------------- */

.spacer {
    flex: 1 1 auto;
}

/* SHADOW ---------------------------------------------------------- */

.shadow {
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.05), 0px 20px 20px rgba(255, 255, 255, 0.10);
}

/* LINK COLOR ------------------------------------------------------ */

a {
    transition: all 0.2s ease;
    background-color: transparent;
}

a:link, a:visited {
    color: rgba(255, 255, 255, 0.40);
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: underline;
}

a:active {
    color: #00bf7e;
    text-decoration: underline;
}

/* VALUE CHECK ----------------------------------------------------- */

.isForeColorNotSet, .isBackColorNotSet, .isColorSet {
    transition: all 0.5s ease;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.isForeColorNotSet {
    background: repeating-linear-gradient( -45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 5px, rgba(255, 255, 255, 0.30) 5px, rgba(255, 255, 255, 0.30) 10px);
    /* background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0.75) 100%) */
}

.isBackColorNotSet {
    background: repeating-linear-gradient( +45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 5px, rgba(255, 255, 255, 0.30) 5px, rgba(255, 255, 255, 0.30) 10px);
}

.isColorSet {
    background: transparent;
}

/* COLOR PATCH ----------------------------------------------------- */

/* toolbar */

::ng-deep .mat-toolbar {
    background-color: black !important;
    color: rgba(255, 255, 255, 0.60) !important;
}

/* chevron */

::ng-deep .mat-tab-header-pagination {
    background-color: rgba(255, 255, 255, 0.15) !important;
}

::ng-deep .mat-tab-header-pagination-chevron {
    border-color: #00bf7e !important;
}

/* selected */

::ng-deep .mat-chip {
    background-color: rgba(255, 255, 255, 0.00) !important;
    color: #00bf7e !important;
}

::ng-deep .info .mat-chip {
    background-color: rgba(255, 255, 255, 0.15) !important;
    color: #00bf7e !important;
}

::ng-deep .info.grayScaleChip .mat-chip {
    background-color: rgba(255, 255, 255, 0.10) !important;
    color: rgba(255, 255, 255, 0.40) !important;
}

/* input */

::ng-deep .mat-form-field-outline {
    color: rgba(255, 255, 255, 0.15) !important;
}

::ng-deep .mat-form-field-label, .infobar * {
    color: rgba(255, 255, 255, 0.60) !important;
}

::ng-deep ::placeholder {
    color: rgba(255, 255, 255, 0.30) !important;
}

/* button */

::ng-deep.mat-button[disabled][disabled] {
    color: rgba(255, 255, 255, 0.30) !important;
}