/* BODY ------------------------------------------------------------ */

::ng-deep .mat-form-field {
    margin: 0px 0px 0px 24px;
    float: left;
}

::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em !important;
}

::ng-deep .mat-form-field {
    width: 550px !important;
    padding: 0px 0px 0px 0px;
}

::ng-deep .mat-chip-list {
    padding: 12px 0px 0px 24px;
}

::ng-deep .mat-chip {
    font-family: 'Overpass Mono', monospace !important;
    font-size: 12px !important;
    font-weight: 700 !important;
}

::ng-deep .mat-divider {
    margin: 0px 0px 12px 24px !important;
    padding: 0px !important;
}

/* MAIN & CONTAINER ------------------------------------------------ */

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    width: fit-content;
    padding: 24px 0px 0px 0px;
}

/* SETTINGS -------------------------------------------------------- */

.settings div {
    /* side-by-side: inline-grid */
    display: grid;
    padding: 0px 0px 24px 0px;
}

/* LAYERS ---------------------------------------------------------- */

.input {
    padding-right: 12px;
}

.input .layer {
    position: relative;
    display: grid;
    margin: 0 auto;
}

.input .layer * {
    /* transform: rotate(45deg) skew(-10deg, -10deg); */
    position: absolute;
}

.input .layer {
    /* calculation: square width + back padding */
    width: 112px;
    height: 112px;
}

.input .layer * {
    height: 96px;
    width: 96px;
    border-radius: 8px;
}

/* FORE & BACK ----------------------------------------------------- */

.input .layer .back {
    /* background-color: #ffffff; */
}

.input .layer .fore {
    margin: 16px 0px 0px 16px;
    /* background-color: rgba(0, 0, 0, 0.7); */
}

/* SHADOW ---------------------------------------------------------- */

.shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 20px 20px rgba(0, 0, 0, 0.15);
}

/* VALUE CHECK ----------------------------------------------------- */

.isForeColorNotSet, .isBackColorNotSet, .isColorSet {
    transition: all 0.5s ease;
}

.isForeColorNotSet {
    background: repeating-linear-gradient( -55deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 5px, rgba(0, 0, 0, 0.30) 5px, rgba(0, 0, 0, 0.30) 10px);
}

.isBackColorNotSet {
    background: repeating-linear-gradient( +55deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 5px, rgba(0, 0, 0, 0.30) 5px, rgba(0, 0, 0, 0.30) 10px);
}

.isColorSet {
    background: transparent;
}